.body{  }
.block {padding:0 0 0 0; margin:0 0 0 0;background-color:rgb(27, 25, 25) ;}
.container  {  display:flex ; justify-content:center;  flex-direction: row; margin: 15;flex-wrap: wrap; align-items: center ; text-decoration: none;}
.container h2{ color: aliceblue; text-align: center; align-items: center; }
#SMimg { background-color:rgba(0, 0, 0, 0.726); width: 30%; height: fit-content ; border: 1px solid black; text-align: center;border-radius: 25%; }
#SMimg img {   border-radius: inherit; padding: 0  0 0 0 ; margin: 0 0 0 0;}
#detail { background-color:rgba(0, 0, 0, 0.726); width: 35%; height: fit-content ; border: 1px solid black; text-align: center;border-radius: 45px; padding: 0 10 0 10 }

#detail.container p{ color: white; font-size:22px ;}
#detail.container a{ text-decoration: none; color: white; }

@media screen and (max-width: 900px) {
   
    #detail.container{width:90%; }
    #SMimg{ width: 50%;}
    .container{flex-direction: column;flex-flow: column-reverse; }
    #detail.container p{font-size: large; }
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }

}