
.container  {  display:flex ; justify-content:center;  flex-direction: row; margin: 15;flex-wrap: wrap; align-items: center ; text-decoration: none;}
.container h2{ color: aliceblue; text-align: center; align-items: center; }
#SMimg { background-color:rgba(0, 0, 0, 0.726); width: 45%; height: fit-content ; border: 1px solid black; text-align: center;border-radius: 25%; }
#SMimg img {   border-radius: inherit; padding: 0  0 0 0 ; margin: 0 0 0 0;}

.skill { display: flex;flex-direction: column ;justify-content: center ; align-items:center ;   width: 100%; height: fit-content ; ; text-align: center;border-radius: 45px; padding: 0 0 0 0 ;margin: 0 0 0 0; }
#skill2.skill  { justify-content: ;background-color: rgba(0, 0, 0, 0.726); color: aliceblue; width: 30%;}
#skill1.skill img {width: 15%; border-radius: 50%; }

#detail.container{ display: flex ;flex-direction: column; }
#detail { background-color:rgba(0, 0, 0, 0.726); width: 25%; height: fit-content ; border: 1px solid black; text-align: center;border-radius: 45px; padding: 0 10 0 10 }
#detail.container h1{ color: aliceblue;  }
#skill.container h1{ color: aliceblue;  }
#detail.container a{ text-decoration: none; color: white; }


@media screen and (max-width: 900px) {
 
    #skill2.skill h1 {font-size:x-large }
    #detail.container{ width: 60%;height: fit-content; }
    #detail.container h1{ font-size: large;  padding-top: 15px;}
    #detail.container img{width: 40%;  }



}