
.footer{ background-color: rgba(0,0,0, 0.726) ; border-radius: 4px; margin: 5 0 0 0 ;padding: 5 5 5 5; } 


.footer h2{ text-align: center; padding: 0 0 0 0 ; margin: 0 0 0 0 ; color: beige; }
.footer p{ text-align: center; padding: 0 0 0 0 ; margin: 0 0 0 0 ; color: beige; }
.foot  {  display:flex ; justify-content:center ;  flex-direction: row;flex-wrap: wrap; ;align-items: center ; text-decoration: none ; width: 99%; margin:0 0 0 0 ; padding: 0 0 0 0; }
.foot a{ text-decoration: none; color: white; justify-content: center ;  font-size: 12px; padding: 0 0 0 0 ; margin: 0 0 0 0;width: 20%;  }
.foot img{ padding: 0 0 0 0; margin: 0 0 0 0;}

#locimg.foot img {padding: 5; width: 1%; }
#insta.foot ,#LinkedIn.foot ,#mail.foot,#git.foot{  width:20% ; margin-top: 5px; margin-bottom: 10px; }
.foot a:hover{ }


@media screen and (max-width: 900px) {
    .foot {
      flex-direction: row ;
    }
    #locimg.foot img {padding: 5; width: 3%; }
    #locimg.foot img{width: 1.5%; }
    #insta.foot ,#LinkedIn.foot ,#mail.foot,#git.foot{  width:20% ; margin-top: 2px; margin-bottom: 10px; }

  }