
.container  {  display:flex ; justify-content:center ;  flex-direction: column; ;flex-wrap: wrap; align-items: center ; text-decoration: none; width: 100%;}
.container h2{ color: aliceblue; text-align: center; align-items: center;margin: 0 0 0 0; padding: 0  0 0 0; font-weight: lighter; padding: 0 0 0 0; margin: 0 0 0 0;}

.container img{ margin: 0 0 0 0; padding: 0  5 0 0;  }

#detail { background-color:rgba(0, 0, 0, 0.726); width: 50%; height: fit-content ; border: 1px solid black; text-align: center;border-radius: 45px; padding: 10 10 10 10 ; font-weight: ; }
#detail.container h2 { padding: 0 0 0 0; margin: 0 0 0 0;}
#detail.container h2 :hover{ color:rgb(124, 108, 108)}
#detail.container a{ text-decoration: none; color: white; }


@media screen and (max-width: 700px) {
    #detail.container h2{ font-size: 20px;}
    #detail.container { width: 80%; }
    #SM_Img.container { width: 30%;}



}